{% extends "base.html" %}

{% block title %}Authors{% endblock %}


{% block content %}

<ul>
    <br>
    <h1>Authors:</h1>
    {% for a in authors %}
    <li><strong><a href="{% url 'author' a.pk %}">{{ a.first_name }} {{ a.last_name }}</a></strong>
        <a href="{% url 'blog' a.id %}" >{{ a.post }}</a></li>
    <hr>
    {% endfor %}
    </ul>
    <div class="container puslapiai">
        <nav aria-label="...">
            {% if authors.has_other_pages %}
                <ul class="pagination pagination-sm justify-content-end">
                    {% for i in authors.paginator.page_range %}
                        {% if authors.number == i %}
                            <li class="page-item active">
                                <a class="page-link" href>{{ i }}</a>
                            </li>
                        {% else %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endif %}
        </nav>
    </div>
{% endblock %}

















