{% extends 'base.html' %}

{% block content %}

<div>
    <h1>TitulinisPuslapis</h1>

    <ul>
    {% for post in object_list %}
        <li><a class="navbar-link" href="{% url 'blog' post.pk %}"><strong><h2>{{ post.title }}</h2></strong></a> by
        <a href="{% url 'author' post.author.id %}">{{ post.author }}</a>: <small><a href="{% url 'update_post' post.pk %}"><button class="btn btn-dark">Edit post</button></a></small></li>
        {{ post.date_created }}<hr>
    {% endfor %}
    </ul>
</div>



{% endblock %}


























