{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<br>
<h2>update Post</h2>
<br>
<div class="form-group">
<form method="POST">
    {% csrf_token %}
    <div class="row">
        <div class="col-6">
            {{ form.title|as_crispy_field }}
            {{ form.tag|as_crispy_field }}
        </div>
        
        <div class="col-sm">
            
            {{ form.content }}
        </div>
    </div>

</div>
<button class="btn btn-dark" type="submit">Update</button>
</form>
{% endblock content %}