{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<br>
<h2>Add Post</h2>

<div class="form-group">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-6">
                title
                {{ form.title }}
                <br>
                tag
                {{ form.tag }} 
                {{ form.post_image }}
            </div>
            <div class="col-sm">
                content
                {{ form.content }}
            </div>
        </div>
    <button class="btn btn-dark">Post</button>
    </form>
</div>
{% endblock content %}