{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<br>
<h2>Add Post</h2>

<div class="form-group">
    <form method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col-6">
                
                {{ form.title }}
                {{ form.tag }} 
            </div>
            
            <div class="col-sm">
                {{ form.content }}
            </div>
        </div>
    
    </div>
<button class="btn btn-dark">Post</button>
</form>

{% endblock content %}