{% extends 'base.html' %}

{% block content %}



<br>
<h1>{{ post.title }} </h1><br>
<small>By: <a href="{% url 'author' post.author.id %}">{{ post.author }}</a></small><br>
<hr>
</br>
<div>
    {% if post.post_image %}
      <img src="{{ post.post_image.url }}" style="margin-bottom: 20px;">
    {% endif %}
  </div>
<p>{{ post.content|safe }}</p>
{% if user.is_authenticated %}
    {% if user.id == post.author.id %}
        <a href="{% url 'delete' post.pk %}"><button class="btn btn-dark" onclick="return confirm('Are you sure?')">Delete post</button></a></small>
        <small><a href="{% url 'update_post' post.pk %}"><button class="btn btn-dark">Edit post</button></a></small>
    {% endif %}
{% endif %}
<hr>
|Tags: {% for i in post.tag.all %} <a href="{% url 'tag' i.pk %}" class="btn btn-success">{{ i.name }}</a> {% endfor %}<br>



<div><br><a href="{% url 'home' %}" class="btn btn-dark">home page</a></div>
<br><br>
<h2>Comments...</h2>
<hr/>
{% if user.is_authenticated %}
  <div class="fieldwrapper">
    <form method="post">
      {% csrf_token %}
      {{ form.body }}<br>
      <button type="submit" class="btn btn-primary">Submit a comment</button>
    </form>
  </div>
{% endif %}
{% if not post.comments.all %}
    No comments yet...<a href="#">
    Add one</a>
{% else %}
    {% for comment in post.comments.all %}
    <ul>
      <strong>
        By {{ comment.user }} -
        {{ comment.date_added }}
      </strong>
      <br/>
      {{ comment.body }}
    </ul>

    {% endfor %}
{% endif %}
<hr>

{% endblock %}

























