{% extends 'base.html' %}

{% block content %}



<br>
<h1>{{ post.title }} </h1><br>
<small>By: <a href="{% url 'author' post.author.id %}">{{ post.author }}</a></small><br>
<hr>
</br>
<div>
    {% if post.post_image %}
      <img src="{{ post.post_image.url }}" style="margin-bottom: 20px;">
    {% endif %}
  </div>
<p>{{ post.content|safe }}</p>
{% if user.is_authenticated %}
    {% if user.id == post.author.id %}
        <a href="{% url 'delete' post.pk %}"><button class="btn btn-dark" onclick="return confirm('Are you sure?')">Delete post</button></a></small>
        <small><a href="{% url 'update_post' post.pk %}"><button class="btn btn-dark">Edit post</button></a></small>
    {% endif %}
{% endif %}
<hr>
|Tags: {% for i in post.tag.all %} <a href="{% url 'tag' i.pk %}" class="btn btn-success">{{ i.name }}</a> {% endfor %}<br>



<div><br><a href="{% url 'home' %}" class="btn btn-dark">home page</a></div>

{% endblock %}

























